<% provide(:title, "Users") %>
<h1>Users</h1>

<div align="right"><%= link_to "Create New User", new_user_path, class: "btn btn-primary" %></div>

<%= will_paginate %>

<table class="table table-hover">
  <%= render @users %>
</table>